@charset "UTF-8";
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: '微软雅黑';
  font-size: .32rem;
}

.header {
  width: 100%;
  height: 1.13rem;
  border-bottom: .01rem solid #ccc;
  line-height: 1.03rem;
  padding: 0 .57rem;
  display: flex;
  text-align: center;
  margin-bottom: .22rem;
}

.header p {
  width: 1.2rem;
  padding: 0 .12rem;
  margin: 0 .42rem;
}

.header .bg {
  color: #748DF7;
  border-bottom: .05rem solid #748DF7;
}

.con {
  width: 100%;
  height: auto;
  padding: .25rem .47rem;
}

.con-text {
  width: 6.59rem;
  height: 2.23rem;
  margin-bottom: .32rem;
  background: red;
}
